body {
    margin: 0;
}
canvas {
    border: 1px solid #000;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
}
.status {
    position: relative;
    z-index: 1;
}
.status p {
    font-family: monospace;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0;
    text-align: center;
}

